.left-nav {
  display: flex;
  flex-direction: column;
  background-color: orange;
  width: 290px;
  gap: 40px;
  padding: 50px;
  height: 100vh; 
  position: fixed; 
  top: 0;
  left: 0;
  border: 5px solid orange;
  border-radius: 5px;
  justify-content: center;
}

.main-nav {
  display: flex;
  background-color: beige;
  margin-left: 290px; 
}

.right-content {
  flex: 1;
  padding: 50px;
}

.left-nav button {
  border: 3px solid black;
  border-radius: 7px;
  padding: 7px;
  text-align: center;
  font-size: large;
}
